<div class="row">
  <header class="col-12 bg-light d-flex align-items-center pt-4 pb-md-4">
    <h1 class="mr-auto mr-md-none">Posts</h1>
    <button (click)="openCreatePost()" type="button" class="btn btn-primary">Create post</button>
  </header>
  <section class="col-12 pt-3">
    <div class="list-group">
      <div class="list-group-item list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        </p>
        <small>Donec id elit non mi porta.</small>
      </div>
      <div *ngFor="let post of posts" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1" (click)="open(post)">{{post.title}}</h5>
        </div>
        <p class="mb-1">
          {{post.body | slice:0:50}}...
        </p>
      </div>
    </div>
  </section>
</div>
