<header>
  <app-navbar></app-navbar>
</header>
<div class="container-fluid flex-grow-1">
  <div class="row flex-xl-nowrap">
    <aside class="col-12 col-lg-2 border-right">
      <app-sidebar></app-sidebar>
    </aside>
    <main class="col-12 col-lg-10 mb-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<footer class="container-fluid bg-light pt-2 pb-2">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, veniam esse ab obcaecati tenetur nemo explicabo
    magni. Eum nostrum eaque necessitatibus ex nihil placeat, eveniet expedita aut in temporibus doloribus!</p>
</footer>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
