<!-- <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
  &#9776;
</button> -->
<!-- <nav class="flex-column" [ngbCollapse]="isMenuCollapsed"> -->
<nav class="flex-column">
  <section class="pt-2 pb-2">
    <a class="text-secondary d-flex" routerLink="/posts" routerLinkActive="active">
      <div class="icon-wrap">
        <i class="fas fa-stream"></i>
      </div>
      <span class="ml-2">Posts</span>
    </a>
  </section>
  <section class="pt-2 pb-2">
    <a class="text-secondary d-flex" routerLink="/users" routerLinkActive="active">
      <div class="icon-wrap">
        <i class="fas fa-users"></i>
      </div>
      <span class="ml-2">Users</span>
    </a>
  </section>
</nav>
