<div class="row">
  <header class="col-12 bg-light pt-4 pb-md-4 px-4 px-lg-5 d-flex d-md-block align-items-center title">
    <h1 class="mb-4 mr-auto mr-md-none">Users</h1>
  </header>
  <section class="col-12 pt-3">
    <div class="list-group">
      <div *ngFor="let user of users" class="list-group-item list-group-item-action flex-column align-items-start">
        <div (click)="detailInfo(user)" class="flex-column w-100 justify-content-between border-bottom mb-3">
          <h5>{{user.name}}</h5>
          <p class="mb-1">
            <span>username: </span>{{user.username}}
          </p>
        </div>
        <p class="mb-1">
          <span>email: </span>{{user.email}}
        </p>
        <p class="mb-1">
          <span>company name: </span>{{user.company.name}}
        </p>
      </div>
    </div>
  </section>
</div>
