<div class="row">
  <header class="col-12 bg-light pt-4 pb-md-4 px-4 px-lg-5 d-flex d-md-block align-items-center title">
    <h1 class="mb-4 mr-auto mr-md-none">Welcome</h1>
  </header>
  <section class="col-12 pt-3">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad autem quam nisi quidem mollitia vel nostrum sint.
      Perferendis ducimus assumenda aut, reiciendis commodi, et excepturi eligendi esse quaerat qui molestiae.</p>
    <button type="button" class="btn btn-info" routerLink="/posts">Go to posts</button>
  </section>
</div>
